##############################
## Folders                  ##
##############################
*/.vs/
*/.vs
##############################
## Netbeans conf            ##
##############################
*.pyproj
*.suo

