##############################
## Folders                  ##
##############################
*/.vs/
*/.vs
##############################
## Netbeans conf            ##
##############################
*.pyproj
*.suo

/ECT/ECT/concentration circle.txt
/ECT/ECT/__pycache__/loaddata.cpython-36.pyc
/TensorFlow/hello/hello/hello/images
/ECT/ECT/BP4layer.h5
/ECT/ECT/__pycache__/ECTBP.cpython-36.pyc
/ECT/ECT/draw1.csv
/ECT/ECT/point in tri.txt
/GAN/
/TensorFlow/hello/hello/hello/.vscode/launch.json
/ECT/ECT/新建 Microsoft Excel 工作表.xlsx
/ECT/ECT/data
/ECT/ECT/LMC
/ECT/ECT/logs
/ECT/ECT/真实实验
/ECT/ECT/.vscode
