##############################
## Folders                  ##
##############################
*/.vs/
 
##############################
## Netbeans conf            ##
##############################
*.pyproj

